<div class="form-container">
  <div class="header-icon">
    <div class="user-avatar" (click)="fileInput.click()">
  <svg *ngIf="!uploadedPhotoUrl" class="icon" viewBox="0 0 24 24" fill="currentColor">
    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
  </svg>

  <img *ngIf="uploadedPhotoUrl"
       [src]="uploadedPhotoUrl"
       alt="User photo"
       class="user-photo-preview" />
</div>

<input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />

  </div>

  <div class="section-divider">
    <span class="divider-text">CREATE NEW USER</span>
  </div>

  <div class="body">

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      
      <div class="form-row">
        <div class="form-group">
          <label>First Name:</label>
          <input type="text" formControlName="first_name" placeholder="First Name" />
        </div>
  
        <div class="form-group">
          <label>Last Name:</label>
          <input type="text" formControlName="last_name" placeholder="Last Name" />
        </div>
      </div>
  
      <div class="form-row">
         <div class="form-group">
    <label>Dial Code:</label>
    <input type="text" formControlName="dial_code" readonly />
  </div>
  
  <div class="form-group">
    <label>Phone Number:</label>
    <input type="text" formControlName="phone_number" placeholder="Phone Number" />
  </div>

 
</div>

<div class="form-group full-width">
  <label>Email:</label>
  <input type="email" formControlName="email" placeholder="Email" />
</div>

  
    <div class="form-row">
        <div class="form-group spaced-field">
          <label>Gender:</label>
          <select formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label>Role:</label>
          <select formControlName="role_name">
            <option value="" disabled>Select a role</option>
            <option *ngFor="let role of roles" [value]="role.role_name">{{ role.role_name }}</option>
          </select>
        </div>
      </div>
  
      <div class="form-group full-width">
        <label>Password:</label>
        <input type="password" formControlName="password" placeholder="Password" />
      </div>
  
      <div class="button-group full-width">
        <button type="submit" [disabled]="userForm.invalid">Create User</button>
      </div>
    </form>
  </div>

  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>